<footer class="footer">

  <div class="newsletter">

    <hgroup class="newsletter__text">
      <h3>Join Our Newsletter!</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, laboriosam.
        Illo doloremque praesentium deserunt. Commodi.
      </p>
    </hgroup>

    <form onsubmit="return false" class="newsletter__form">
      <input type="text" class="newsletter__input" placeholder="Bro">
      <button type="submit" class="newsletter__button">Subscribe</button>
    </form>

  </div>

  <hr class="footer__line">

  <p class="footer__text">
    Copyright © 2023 imo.
    All rights reserved.
  </p>


</footer>