<nav class="navbar">

  <div class="navbar__logo">
    <a class="navbar__link" href="#">imo.</a>
  </div>

  <button class="navbar__toggle" aria-label="Menu">
    <span class="navbar__toggle-icon"></span>
  </button>

  <div class="navbar__menu">
    <a class="navbar__item navbar__item--active" href="#">Home</a>
    <a class="navbar__item" href="#">About</a>
    <a class="navbar__item" href="#">Contact</a>
  </div>
  
</nav>
