{% extends "../index.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block content %}

<main class="post-page">

  <header class="header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 75%), url('{{header}}');">

    <a href="/" class="header__home-btn">
      <i class="gg-home"></i>
    </a>

    <hgroup>
      <h1 class="header__title">
        {{title}}
      </h1>

      <h3 class="header__author">
        By: {{author.name}}
      </h3>

      <p class="header__subtitle">
        {{subtitle}}
      </p>
    </hgroup>

  </header>

  <section class="content">
    {{content}}
  </section>

</main>

{% include "../components/footer.njk" %}

{% endblock %}