{% extends "../index.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/profile.css">
{% endblock %}

{% block content %}

<main class="user-page">

  <header class="user-header">
    <div class="user-header__avatar">
      <img src="{{ user.avatar }}" alt="{{ user.username }}'s avatar" class="user-header__image">
    </div>

    <div class="user-header__details">
      <h1 class="user-header__title">
        Hello,
        {{ user.username }}!
      </h1>

      {% if user.isAdmin %}
      <h3>Admin</h3>
      {% else %}
      <h3>Guest</h3>

      {% endif %}


      <form action="/user/logout" method="POST">
        <button type="submit" class="user-header__logout">Log out</button>
      </form>

    </div>

  </header>

  {% if user.isAdmin %}

  <section class="posts-list">
    <ul>
      {% for post in posts %}
      <li class="posts-list__item">
        <a href="/post/{{post.id}}">{{post.title}}</a>
        <span>
          <button class="posts-list__edit">Edit</button>

          <button onclick="deletePost(event, '{{post.id}}')" class="posts-list__delete">Delete</button>
        </span>
      </li>
      {% endfor %}
    </ul>
  </section>

  <form action="/post" method="POST" class="post-form">

    <div class="post-form__group">
      <label for="">Title</label>
      <input type="text" name="title" id="title">
    </div>

    <div class="post-form__group">
      <label for="subtitle">Subtitle</label>
      <input type="text" name="subtitle" id="subtitle">
    </div>

    <div class="post-form__group">
      <label for="content">Content</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>

    <div class="post-form__group">
      <label for="thumbnail">Thumbnail</label>
      <input type="text" name="thumbnail" id="thumbnail">
    </div>

    <div class="post-form__group">
      <label for="header">Header</label>
      <input type="text" name="header" id="header">
    </div>

    <input type="text" name="authorID" value="{{user.id}}" readonly hidden>

    <button type="submit" class="post-form__submit">Create Post</button>
  </form>

  {% endif %}


</main>



{% endblock %}